.DS_Store
*.ncrunchproject
*.ncrunchsolution
*.psess
*.vs10x
*.DS_Store
*.obj
*.pdb
*.suo
*.user
*.cache
*.orig
*.iws
*.log
*.pyc
*.py~
*.dotCover
*.vs10x
_ReSharper.*
Debug/*
Release/*
Refactoring/bin/*
Refactoring/obj/*
MovingFeaturesBetweenObjects/bin/*
MovingFeaturesBetweenObjects/obj/*
OrganizingData/bin/*
OrganizingData/obj/*